{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="description" content="O djangoapp-estoque é sistema destinado ao controle do seu estoque.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="djangoapp-estoque, controle, estoque">
    <meta name="author" content="Samuel Fernandes, Programador">

    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="djangoapp-estoque" />
    <meta property="og:description" content="O djangoapp-estoque é sistema destinado ao controle do seu estoque." />
    <meta property="og:url" content="https://djangoapp-estoque.online/" />
    <meta property="og:site_name" content="djangoapp-estoque" />
    <meta property="og:image" content="https://djangoapp-estoque.online/static/img/home.png" />

    <title> Djangoapp-estoque Entrar </title>

    <link rel="shortcut icon" href="/static/img/top-site.png">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style-login.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

    <div class="container">
        <div class="section">

            <div class="row">

                <form class="col s12" method="POST"> {% csrf_token %} {{ form }}

                    <button style="margin-top: 12px;" class="btn waves-effect indigo darken-4" type="submit" name="action">Entrar
                        <i class="material-icons right">send</i>
                    </button>

                </form>

                <a href="https://api.whatsapp.com/send?phone=5583998123917&text=Ol%C3%A1%2C%20vim%20pelo%20seu%20site!%20">
                    <button style="margin-top: 12px; margin-left: 10px;" class="btn waves-effect indigo darken-4" type="submit" name="action">Não tem cadastro clique aqui
                        <i class="material-icons right">send</i>
                    </button>
                </a>

            </div>
        </div>

    </div>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

</body>

<style>

</style>

</html>