{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

    <title>
        {% block title %} Home {% endblock %}
    </title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="light-blue blue darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'home' %}" class="brand-logo">
                <img style="margin-top: 3px;" width="150" height="57" src="/static/img/logo.png" alt="">
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'create_product' %}">Cadastrar Produto</a></li>
                <li><a href="{% url 'list_products' %}">Produtos</a></li>
                <li><a href="{% url 'list_sales' %}">Vendas</a></li>
                <li><a href="{% url 'logout' %}">Sair</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a style="color: #2b4c92;" href="{% url 'home' %}">Inicio</a></li>
                <li><a style="color: #2b4c92;" href="{% url 'create_product' %}">Cadastrar Produto</a></li>
                <li><a style="color: #2b4c92;" href="{% url 'list_products' %}">Produtos</a></li>
                <li><a style="color: #2b4c92;" href="{% url 'list_sales' %}">Vendas</a></li>
                <li><a style="color: #2b4c92;" href="{% url 'logout' %}">Sair</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i style="color: white;" class="material-icons">storage</i></a>
        </div>
    </nav>

    <div class="section center-align">
        <div class="img">
            <div class="row">
                <div class="col s12 m4">
                    <img class="img-home" src="/static/img/home.png" alt="image-home" srcset="">
                </div>
            </div>
        </div>
    </div>

    {% block main %} {% endblock %}

    <footer class="page-footer blue darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Dev Samuel</h5>
                    <p class="grey-text text-lighten-4">
                        Sou um jovem estudante que ama a programação trabalhando neste projeto como se fosse meu trabalho em tempo integral. Qualquer quantia ajudaria a apoiar e continuar o desenvolvimento deste projeto e seria muito apreciado. Meu PIX samuelbanco2196@gmail.com
                        ;)
                    </p>

                </div>

                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" target="_blank" href="https://www.linkedin.com/in/samuel-fernandes-400587182/">Linkedin</a></li>
                        <li class="magin-top"><a class="white-text" target="_blank" href="https://github.com/samueloliveiraf">GitHub</a></li>
                        <li class="magin-top"><a class="white-text" target="_blank" href="https://api.whatsapp.com/send?phone=5583998123917&text=Ol%C3%A1...%20Vim%20pelo%20site%20DevSamuel">WhatsApp</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright © 2021 <a class="orange-text text-lighten-3" target="_blank" href="https://samueloliveiraf.github.io/site-devsamuel/">Dev Samuel</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

</body>

</html>